.body-back {

    width: auto;
}

.objectCenter{
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.menuButton {
    width: 100px;
    height: 30px;
}

.formSize{
    width: 150px;
    padding: 5px;
    display: flex;
}

.boxSet {
    float: left;
    margin: 5px;
}

.boxContainerSet {
    display: flex;
}