@(books: Seq[Book])
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("DBAccess") {
	<div>
		<h1>DB接続ページ</h1>
		<h3>Insert a book hare</h3>
		<form action="/insert/book" class="formSize" method="post" name="dbform" onsubmit="inputCheck1()">
			<input class="form-control" style="width: 170px;margin: 1px" name="id" type="number" placeholder="input id" required/>
			<input class="form-control" style="width: 170px;margin: 1px" name="title" type="text" placeholder="input title" required/>
			<input class="form-control" style="width: 170px;margin: 1px" name="author_id" type="number" placeholder="input author id" required/>
			<input class="btn btn-secondary" style="margin-left: 20px" type="submit"/><br/>
			<div id="error_ms" style="color: red"></div>
		</form>

		<h3>all tables</h3>
		<table>
			<tr><th>id</th><th>title</th><th>author_id</th></tr>
			@for(b <- books){
				<tr><td>@b.id</td><td>@b.title</td><td>@b.author_id</td></tr>
			}
		</table>


		<button class="btn btn-secondary" onclick="gotoTop()">トップページに戻る</button>
	</div>
}
