@(name: String, age:Int, sex:String, place:String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("InputPage") {
	<div>
		<h1>出力ページ</h1>
		<p>@name</p>
		<p>@age</p>
		<p>@sex</p>
		<p>@place</p>
		<button class="btn btn-secondary" onclick="gotoInput()">入力ページに戻る</button>
		<button class="btn btn-secondary" onclick="gotoTop()">トップページに戻る</button>
	</div>
}
